$main-font: "Architects Daughter";
$content-background-color: #ac9994;
$text-color: rgb(11, 14, 66);
$page-background-color: #8a3206;
$contact-icon-color: #ffe4d6;
$contact-icon-hover-color: rgb(11, 14, 66);
$link-hover-color: #8a2e00;
$project-card-color: #8c95ff;
$scroll-track-color: #ccb6ab;
$scroll-thumb-color: #80726b;
$scroll-thumb-hover-color: #8a2e00;
$scene-bg-texture: url("http://www.transparenttextures.com/patterns/brick-wall.png");
$content-bg-texture: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
$project-card-bg-texture: url("http://www.transparenttextures.com/patterns/black-linen-2.png");

#page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: $main-font, sans-serif;
  font-size: 20px;
  background-color: $page-background-color;
  background-image: $scene-bg-texture;
  background-size: auto;
  text-decoration: none;
  color: $text-color;
}

#home {
  text-align: center;
  .content-title {
    position: fixed;
    top: 5vh;
  }
  .content-desc {
    position: fixed;
    top: 30vh;
    left: 10vw;
    right: 10vw;
  }
}
#about {
  position: fixed;
  top: 10vh;
  left: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;

  .content-title {
    width: 1rem;
    position: fixed;
    top: 30vh;
    letter-spacing: 2rem;
  }

  .content-desc {
    position: fixed;
    top: 15vh;
    left: 8vw;
    right: 8vw;
    height: 70vh;
    padding-top: 1em;
  }
}
#projects {
  position: fixed;
  top: 10vh;
  right: 2vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  text-align: center;

  .content-title {
    width: 1rem;
    position: fixed;
    top: 30vh;
    letter-spacing: 2rem;
  }

  .content-desc {
    position: fixed;
    top: 15vh;
    left: 8vw;
    right: 8vw;
    height: 70vh;
    padding-top: 1em;
  }
}
#connect {
  position: fixed;
  bottom: 1vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .content-title {
    vertical-align: middle;
    text-align: center;
  }
  .content-desc {
    display: flex;
    flex-direction: row;

    align-items: center;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      li {
        margin: 1rem;
        a {
          color: $contact-icon-color;
        }
        a:hover {
          color: $contact-icon-hover-color;
        }
      }
    }
  }
}
.content-active {
  .content-title {
    font-weight: 700;
    font-size: 2rem;
    z-index: 2;
  }
  .content-desc {
    background-color: $content-background-color;
    background-image: $content-bg-texture;
    border-radius: 2px;
    // box-shadow: 0 0 2px 2px rgb(175, 174, 174);
  }
  #content-about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    #about-grid {
      display: grid;
      grid-template-areas:
        "education certifications"
        "experience skills";
      #education {
        grid-area: education;
      }
      #certifications {
        grid-area: certifications;
        .certificate i {
          font-size: 1rem;
        }
      }
      #experience {
        grid-area: experience;
      }
      #skills {
        grid-area: skills;
      }
      .about-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        div {
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
        }
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 60%;
          li {
            list-style: none;
            padding: 0.5em;
            a {
              text-decoration: none;
              color: black;
            }
            a:hover {
              color: $link-hover-color;
            }
          }
        }
      }
    }
  }
  #content-projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .project-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
      overflow: auto;
      //width: 100%;
      .project {
        background-color: $project-card-color;
        background-image: $project-card-bg-texture;
        padding: 2em;
        margin: 1em;
        flex: 1 1 20em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        a {
          text-decoration: none;
          font-size: 1.2rem;
          color: $text-color;
        }
      }
      .project:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        a {
          color: $link-hover-color;
        }
      }
    }
  }
}
.content-hidden {
  .content-title {
    text-shadow: 0 0 10px 5px $content-background-color;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 2;
  }
  .content-desc {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .content-active {
    #content-about {
      #about-grid {
        display: flex;
        flex-direction: column;
      }
    }
  }
  #connect {
    .content-desc {
      ul {
        li {
          margin: 0.5rem;
        }
      }
    }
  }
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $scroll-track-color;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: $scroll-thumb-color;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-hover-color;
}
