#page-wrapper {
  margin: 10px;
  min-width: 400px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8c471;
  color: #1b4f72;
}
#title {
  text-align: center;
  font-weight: 800;
  padding: 5px;
  font-size: 2em;
}
#survey-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #eaeded;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 80px;
  font-size: 1.1em;
  box-shadow: 5px 10px 20px #757575, 0 6px 6px #757575;
}
.survey-item {
  padding: 10px;
}
.survey-label {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  margin-top: 10px;
}
.survey-input {
  display: inline-block;
  text-align: left;
  width: 50%;
  vertical-align: middle;
}
.group-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.input-field {
  height: 30px;
  width: 300px;
  border: 1px solid #95a5a6;
  border-radius: 2px;
  padding: 5px;
}
.input-option {
  position: relative;
  left: -40px;
}
.dropdown {
  height: 30px;
  width: 140px;
  border: 1px solid #95a5a6;
  border-radius: 2px;
  padding: 5px;
}
#comment-text {
  height: 50px;
  width: 300px;
}
#submit {
  height: 30px;
  width: 100px;
  background-color: #ff7043;
  border: 1px solid #ffca28;
  border-radius: 8px;
  font-size: 0.8em;
  align-self: center;
  margin-top: 10px;
}
#submit:hover {
  border: 2px solid #ffca28;
  font-size: 1.1em;
}
@media screen and (max-width: 800px) {
  .input-field,
  #comment-text {
    width: 80%;
  }
}
@media screen and (max-width: 570px) {
  .survey-label {
    text-align: left;
    width: 100%;
  }
  .survey-input {
    float: left;
    width: 100%;
  }
}
